/*---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*---------------------- COMMON ----------------------*/
body {
    font-family: Verdana;
    background-color: rgb(52, 54, 61);
}

/*---------------------- HEADER ----------------------*/
header {
    width: 100%;
    height: 100px;
    background-color: rgb(52, 54, 61);
}
nav {
    height: 100%;
    /* background-color: rgb(107, 138, 49); */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ul {
    list-style: none;
    height: 100%;
    /* background-color: rgb(202, 212, 184); */

    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    font-size: 16px;
    margin-left: 25px;
    color: white;
    font-family: Arial;
    position: relative;
    transition: 0.2s;
}
nav a::after {
    content: '';
    width: 0;
    position: absolute;
    height: 2px;
    /* background-color: gold; */
    background-color: rgb(0, 204, 255);
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
nav a:hover::after {
    width: 100%;
    transition: 0.3s;
}
nav a:hover {
    /* color: gold; */
    color: rgb(0, 204, 255);
    transition: 0.2s;
}
.logo {
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/*---------------------- MAIN ----------------------*/
.container {
    width: 100%;
    background-color: rgb(255, 250, 180);
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*------ arrow ------*/
.L_arrow, .R_arrow {
    margin: 0px 100px;
}
.arrow {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.582);
    transition: 0.1s;
}
.arrow:hover {
    color: rgb(156, 156, 156);
    cursor: pointer;
    transition: 0.1s;
}
.arrow:active {
    color: rgb(94, 94, 94);
}
/*------ circles ------*/
.circles {
    display: flex;
    justify-content: center;

    margin-top: 30px;
}
.fa-dot-circle {
    margin: 0px 10px;
    color: rgba(0, 0, 0, 0.582);
}
.cicle_color {
    color: rgb(0, 204, 255);
    transform: scale(1.5) perspective(1px);
}
/*------ images ------*/
.images {
    border: 5px solid white;
    box-shadow: 2px 2px 20px 12px rgba(0, 0, 0, 0.288);
}